:root {
  font-size: 16px;
  --background: #ffffff;
  --foreground: #48464A;
  --font-primary: var(--font-geist-sans);
  --font-accent: var(--font-funnel-display);
  --default-offset: 40px;
  --default-radius: 40px;
  --power-line-offset: 268px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #48464A;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:not(pre) > code {
  padding: 0.12em 0.35em;
  border-radius: 0.3em;
  background-color: #f6f8fa;
  color: #24292f;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.9em;
  line-height: inherit;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

h1, h2 {
  font-family: var(--font-accent), Arial, Helvetica, sans-serif !important;
  font-weight: 400;
}

.accent-font {
  font-family: var(--font-accent), Arial, Helvetica, sans-serif !important;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :not(pre) > code {
    background-color: #34373d;
    color: #f0f3f6;
  }
}

@media (width <= 1520px) {
  :root {
    --default-offset: 30px;
    --power-line-offset: 212px;
  }
}

@media (width <= 580px) {
  :root {
    --default-offset: 20px;
    font-size: 14px;
  }
}
