.achievementsSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--default-offset) * 2);

    .achievementsDescription {
        margin-left: var(--power-line-offset);
        margin-top: 22px;
    }
}

.achievementsTitle {
    font-size: 60px;
    padding: 10px 0;
    display: inline-block;
    background-color: var(--background);
    position: relative;
    min-height: 80px;
    align-content: center;
}

.achievementsCertifications,
.achievementsOrganisations {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--default-radius);
    overflow: hidden;

    transition: all 2s ease-in-out;

    &:hover {
        background-position: 55% 55%;
    }
}

.achievementsCertifications {
    background-image: url("/images/sky/certsky.jpg");
    z-index: 1;
}

.achievementsCertifications .achievementsTitle {
    padding-right: var(--default-offset);
    border-bottom-right-radius: 40px;

    &::before {
        content: "";
        position: absolute;
        bottom: -40px;
        left: 0px;
        width: 40px;
        height: 40px;
        background: url("/images/smooth-corners/left-top.svg") no-repeat center center;
    }

    &::after {
        content: "";
        position: absolute;
        right: -40px;
        top: 0px;
        width: 40px;
        height: 40px;
        background: url("/images/smooth-corners/left-top.svg") no-repeat center center;
    }
}

.achievementsCertificationsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: var(--default-offset);
    gap: var(--default-offset);
}

.achievementsOrganisations {
    background-image: url("/images/sky/orgsky.jpg");
    background-position: 50% 50%;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr var(--default-offset) var(--default-offset) 1fr;
    margin-top: -520px;
}


.achievementsOrganisationsBlank {
    grid-column: 2/5;
    grid-row: 1/3;
    background-color: var(--background);
    border-bottom-left-radius: 40px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -40px;
        right: 0px;
        width: 40px;
        height: 40px;
        background: url("/images/smooth-corners/right-top.svg") no-repeat center center;
    }
}

.achievementsOrganisations .achievementsTitle {
    padding-left: var(--default-offset);
    margin-left: var(--power-line-offset);
    border-bottom-left-radius: 40px;

    &::before {
        content: "";
        position: absolute;
        top: -0;
        left: -40px;
        width: 40px;
        height: 40px;
        background: url("/images/smooth-corners/right-top.svg") no-repeat center center;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -40px;
        right: 0px;
        width: 40px;
        height: 40px;
        background: url("/images/smooth-corners/right-top.svg") no-repeat center center;
    }
}

.achievementsOrganisationsFeatured {
    list-style: none;
    padding: 0;
    margin: 0;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--default-offset) * 2) var(--default-offset);
    padding: var(--default-offset);
}

.achievementsOrganisationsList {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 152px;
    gap: var(--default-offset);
    padding: var(--default-offset);
    padding-left: 0;
}

@media (max-width: 1630px) {
    .achievementsOrganisationsList> :last-child {
        display: none;
    }
}

@media (width <=1520px) {
    .achievementsTitle {
        font-size: 40px;
    }

    .achievementsOrganisations {
        margin-top: -400px;
    }

    .achievementsOrganisationsList> :last-child {
        display: flex;
    }
}

@media (width <=1200px) {
    .achievementsOrganisations {
        grid-column: unset;
        display: flex;
        flex-direction: column;
        margin-top: -520px;
    }

    .achievementsOrganisations .achievementsTitle {
        margin-left: auto;
    }

    .achievementsOrganisationsList {
        grid-template-columns: repeat(2, 1fr);
        padding: var(--default-offset);
    }

    .achievementsOrganisationsList> :last-child {
        display: none;
    }
}

@media (width <=1100px) {
    .achievementsSection {
        grid-template-columns: 1fr;
    }

    .achievementsOrganisations {
        margin-top: 0;
    }

    .achievementsSection .achievementsDescription {
        margin-left: 0;
    }
}

@media (width <=580px) {
    .achievementsTitle {
        font-size: 30px;
    }

    .achievementsCertificationsList {
        grid-template-columns: repeat(2, 1fr);
        padding: var(--default-offset);
    }

    .achievementsOrganisationsList {
        grid-template-columns: repeat(2, 1fr);
        padding: var(--default-offset);
    }
}