.footer {
    background-color: var(--background);
    padding: var(--default-offset);
    padding-top: 160px;
}

.footerContainer {
    border-radius: 40px;
    padding: var(--default-offset);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    h2 {
        font-size: 60px;
        font-weight: 400;
        text-align: center;
        z-index: 1;
        position: relative;
    }
}

.footerBackgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 40px;
    overflow: hidden;
}

.footerLinks {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 1;

    a {
        transition: translate 0.3s ease-in-out;
    }

    a:hover {
        translate: 0 -3px;
    }
}

@media (width <=1520px) {
    .footerContainer {
        min-height: 220px;

        h2 {
            font-size: 40px;
        }
    }
}

@media (width <=580px) {
    .footer {
        padding-top: 100px;
    }

    .footerContainer {
        gap: 20px;
        min-height: unset;
        padding-top: calc(var(--default-offset)*2);

        h2 {
            font-size: 30px;
        }

        .footerLinks {
            position: relative;
            bottom: 0;
        }
    }
}